html {
    box-sizing: border-box;
    font-family: sans-serif;
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
}
.bg-gray {
    background-color: #e6e6e6;
}
.pt-3 {
    padding-top: 1rem !important;
}
.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}
* {
    font-family: 'Segoe UI Semibold';
    font-size: 18px;
}
body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    font-size: 1rem;
    font-weight: normal;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
}
.pr-lg-0 {
    padding-right: 0 !important;
}
.col-lg-2 {
    -ms-flex: 0 0 16.666667%;
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
}
.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col, .col-auto, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm, .col-sm-auto, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-md, .col-md-auto, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg, .col-lg-auto, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl, .col-xl-auto {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}
.align-items-center {
    -ms-flex-align: center !important;
    align-items: center !important;
}
.d-flex {
    display: -ms-flexbox !important;
    display: flex !important;
}

.form-group {
    margin-bottom: 1rem;
}
*, *::before, *::after {
    box-sizing: inherit;
}
.size-filter[_ngcontent-c5] {
    font-size: 14px!important;
}
label[_ngcontent-c5] {
    padding-right: 0.5rem;
}
.text-right {
    text-align: right !important;
}
.pl-lg-0 {
    padding-left: 0 !important;
}
.mb-0 {
    margin-bottom: 0 !important;
}
label {
    display: inline-block;
    margin-bottom: 0.5rem;
}
a, area, button, [role="button"], input, label, select, summary, textarea {
    -ms-touch-action: manipulation;
    touch-action: manipulation;
}
label {
    cursor: default;
}
#recibos .ng-select {
    border: 1px solid transparent!important;
}
.ng-select {
    position: relative;
    display: block;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.ng-select {
    border: 1px solid #ff8600;
    border-bottom-right-radius: 0.5rem;
}
.p-0 {
    padding: 0 !important;
}
.form-control {
    display: block;
    width: 100%;
    padding: 0.5rem 0.75rem;
    font-size: 1rem;
    line-height: 1.25;
    color: #495057;
    background-color: #fff;
    background-image: none;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 0.25rem;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}
.col-lg-9 {
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%;
}
.col-10 {
    -ms-flex: 0 0 83.333333%;
    flex: 0 0 83.333333%;
    max-width: 83.333333%;
}
.col-lg-3 {
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
}
div {
    display: block;
}
a, area, button, [role="button"], input, label, select, summary, textarea {
    -ms-touch-action: manipulation;
    touch-action: manipulation;
}
label {
    cursor: default;
}
element.style {
    text-align: left;
}

element.style {
    cursor: pointer;
}

.input-no-border[_ngcontent-c5] {
    border: none!important;
}
input, button, select, optgroup, textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}
a, area, button, [role="button"], input, label, select, summary, textarea {
    -ms-touch-action: manipulation;
    touch-action: manipulation;
}
input {
    writing-mode: horizontal-tb !important;
    text-rendering: auto;
    color: fieldtext;
    letter-spacing: normal;
    word-spacing: normal;
    line-height: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    appearance: auto;
    -webkit-rtl-ordering: logical;
    cursor: text;
    background-color: field;
    margin: 0em;
    padding: 1px 2px;
    border-width: 2px;
    border-style: inset;
    border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
    border-image: initial;
}
.pr-lg-1 {
    padding-right: 0.25rem !important;
}
.px-0 {
    padding-right: 0 !important;
    padding-left: 0 !important;
}
.col-1 {
    -ms-flex: 0 0 8.333333%;
    flex: 0 0 8.333333%;
    max-width: 8.333333%;
}
.h-100 {
    height: 100% !important;
}
style attribute {
    cursor: pointer;
}
.text-center {
    text-align: center !important;
}
.mb-3 {
    margin-bottom: 1rem !important;
}
.col-12 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
}
.col-lg-9 {
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%;
}
i {
    font-style: italic;
}
img {
    vertical-align: middle;
    border-style: none;
}
img {
    overflow-clip-margin: content-box;
    overflow: clip;
}
.ng-select .ng-arrow-wrapper {
    cursor: pointer;
    position: relative;
    text-align: center;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.ng-select .ng-arrow-wrapper {
    padding-right: 5px;
    width: 25px;
}
.ng-select div, .ng-select input, .ng-select span {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
#recibos .ng-select .ng-value-container .ng-placeholder {
    font-family: Segoe!important;
    font-size: 16px!important;
}
.ng-select .ng-select-container .ng-value-container .ng-placeholder {
    color: #aaa;
}
.ng-select div, .ng-select input, .ng-select span {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.ng-select .ng-select-container {
    color: #333;
    cursor: default;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    outline: 0;
    overflow: hidden;
    position: relative;
    width: 100%;
}
.ng-select.ng-select-single .ng-select-container .ng-value-container, .ng-select.ng-select-single .ng-select-container .ng-value-container .ng-value {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.fa-grayC {
    color: #878585!important;
}
p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
select.form-control:not([size]):not([multiple]) {
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
}
select.form-control:not([size]):not([multiple]) {
    height: calc(2.25rem + 2px);
}

select.form-control:not([size]):not([multiple]) {
    height: calc(2.25rem + 2px);
}
.col-md-3 {
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
}