<div class="row pt-3 bg-gray">
    <div class="col-lg-2 pr-lg-0">
        <div class="form-group d-flex aling-items-center">
            <label class="label-control mb-0 size-filter pl-lg-0 text-right">Serie:</label>
            <select class="col-lg-9 col-10 p-0 form-control ng-select ng-select-single ng-select-searchable ng-pristine ng-valid" binlabel="descripcion" bindvalue="id" id="serieSelect" notfoundtext="No se encontraron coincidencias" placeholder="Seleccione una serie" role="listbox">
                <div class="ng-select-container">
                    <div class="ng-value-container">
                        <div class="ng-placeholder">Seleccione una serie</div>
                    <!------->
                    <!------->
                    <div class="ng-input">
                        <input role="combobox" type="text" autocomplete="a98e477bf463" id aria-expanded="true" aria-owns="a98e477bf463" aria-activedescendant="a5f1ca02072d">
                    </div>
                    </div>
                    <!------->
                    <!------->
                    <span class="ng-arrow-wrapper">
                        <span class="ng-arrow">::after</span>
                    </span>
                </div>
                <!-------->
            </select>
        </div>
    </div>
    <div class="col-lg-3 pr-lg-0">
        <div class="form-group d-flex aling-items-center">
            <label class="label-control mb-0 size-filter pl-lg-0 text-right">Folio:</label>
            <input class="form-control size-filter col-lg-0 col-10 input-no-border ng-untouched ng-pristine ng-valid" currencymask pattern="[0-9]+" placeholder="Ingrese el numero de folio" style="text-align: left;">
            <!-------->
        </div>
    </div>
    <div class="col-lg-3 pr-lg-1">
        <div class="form-group d-flex aling-items-center">
            <label class="label-control mb-0 size-filter pl-lg-0 text-right">Estado:</label>
            <select class="col-lg-9 col-10 p-0 form-control ng-select ng-select-single ng-select-searchable ng-pristine ng-valid ng-select-bottom ng-touched" binlabel="description" bindvalue="value" id="estadoSelect" notfoundtext="No se encontraron coincidencias" placeholder="Seleccione un estado" role="listbox">
                <div class="ng-select-container">
                    <div class="ng-value-container">
                        <div class="ng-placeholder">Seleccione un estado</div>
                    <!------->
                    <!------->
                    <div class="ng-input">
                        <input role="combobox" type="text" autocomplete="a5666b005e0c" id aria-expanded="false">
                    </div>
                    </div>
                    <!------->
                    <!------->
                    <span class="ng-arrow-wrapper">
                        <span class="ng-arrow">::after</span>
                    </span>
                </div>
                <!-------->
            </select>
        </div>
    </div>
    <div class="col-lg-3 pr-lg-0">
        <div class="form-group d-flex aling-items-center">
            <label class="label-control mb-0 size-filter pl-lg-0 text-right">Caja:</label>
            <select class="col-lg-9 col-10 p-0 form-control ng-select ng-select-single ng-select-searchable ng-pristine ng-valid ng-select-bottom ng-touched" binlabel="description" bindvalue="id" groupby="sucursalDescripcion" id="cajaSelect" notfoundtext="No se encontraron coincidencias" placeholder="Seleccione una caja" role="listbox">
                <div class="ng-select-container ng-has-value">
                    <div class="ng-value-container">
                        <div class="ng-placeholder">Seleccione una caja</div>
                    <!------->
                    <!------->
                    <!------->
                    <div class="ng-value ng-star-inserted">
                        <!------->
                        <!------->
                        <span aria-hidden="true" class="ng-start-inserted">Caja 2</span>
                    </div>
                    <!------->
                    <div class="ng-input">
                        <input role="combobox" type="text" autocomplete="afd5e259d7e6" id aria-expanded="false">
                    </div>
                    </div>
                    <!------->
                    <!------->
                    <span class="ng-arrow-wrapper">
                        <span class="ng-arrow">::after</span>
                    </span>
                </div>
                <!-------->
            </select>
        </div>
    </div>
    <div class="col-1 px-0" style="cursor: pointer;" title="Mas filtros">
        <div class="row aling-items-center h-100">
            <div class="col-12 px-0 mb-3 text-center">
                <i class="ng-tns-c5-0" aria-hidden="true">
                    <img class="ng-tns-c5-0"
                    src=".assets/images/filter.svg">
                </i>
            </div>
        </div>
    </div>
</div>
